<header>
<div class="container">

<div id="carouselExampleIndicators" class="carousel slide carousel-fade my-carousel" data-ride="carousel" style="top: 48px"> 
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active" style="top: 8px;">
      <img src="/image/1.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" style="top: 8px;">
      <img src="/image/2.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" style="top: 8px;">
      <img src="/image/3.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
  </div>
</header>
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
<div class="container">
<p>
  <h3 align="center"><strong><em>
    КОНДИТЕРСКАЯ ФАБРИКА «BURKUT»</strong></em></h3>
  <br>  
  <strong>Кондитерская фабрика «Burkut»</strong> 

  - современное предприятие выпускающее жевательную карамель с фруктовыми вкусами и молочную карамель.
  <br><br>
    Качество выпускаемой продукции обеспечивается за счет использования натурального экологически чистого сырья и высококачественных натуральных добавок. Особое внимание на фабрике уделяется качеству входящего сырья, каждая партия которого проходит тщательный анализ, в том числе на отсутствие генетически модифицированных ингредиентов и безопасность для здоровья потребителей.
  <br><br>
    В своей работе мы стараемся использовать новые технологии, которые позволяют производить именно те изделия которые ждут наши потребители.
  <br><br>
    В целях еще большего соответствия требованиям клиентов и потребителей, в том числе и на международных рынках, руководство кондитерской фабрики «Burkut» принимает на себя обязательства постоянного улучшения своей деятельности в области обеспечения качества и безопасности пищевой продукции, что выражается в решениях:
  <br><br>
    Безусловно соблюдать законодательные нормы Туркменистана а также международные нормативные требования к обеспечению качества и безопасности выпускаемой продукции для здоровья потребителей в соответствии с требованиями международных стандартов ISO 9001:2015, ISO 22000:2005.
  <br><br>
    Обеспечить результативность функционирования системы менеджмента качества и безопасности пищевой продукции позволяющей сохранять ее целостность и актуальность.
  <br><br>
    Гарантировать что все ингредиенты продуктов, материалы, чистящие химикаты используемые в производстве продукции являются качественными и безопасными для потребителя.
  <br><br>
    Обеспечить чтобы все сотрудники фабрики проходили обучение по осведомленности требований системы менеджмента качества и безопасности пищевой продукции принятых на производстве.
  <br><br>
    Обеспечить полное сотрудничество и обмен информацией по вопросам качества и безопасности с партнерами, поставщиками, подрядчиками и другими заинтересованными сторонами для того, чтобы наши требования в области качества и пищевой безопасности стали также их стандартами.
  <br><br>
    Внедрить современные методы оценки и контроля показателей безопасности и качества производимой продукции.
  <br><br>
    <strong>
Руководство предприятия берет на себя ответственность за реализацию Политики в области обеспечения качества и безопасности выпускаемой продукции, распространению ее на всех уровнях управления предприятием. А также создания условий для активного участия в ее реализации всего коллектива кондитерской фабрики «Буркут».
    </strong>
 
  </p>
</div>  