 



<header>

<div id="carouselExampleIndicators" class="carousel slide carousel-fade my-carousel" data-ride="carousel" style="top: 48px"> 
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active" style="top: px;">
      <img src="/image/1.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" style="top: 8px;">
      <img src="/image/2.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" style="top: 8px;">
      <img src="/image/3.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
  </div>
</header>
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<br><br><br><br><br><br>

<div class="container-fluid">  
<div class="shadow-lg p-3 mb-5 bg-white rounded">
        <div class="w-100 p-3" style="background-color: #eee;">
        <div class="container">     
  <br>  
  <p style="font-size: 15px; line-height: 1.5;"><strong style="font-size: 15px"><b>Кондитерская фабрика «Burkut»</b></strong> 

  - современное предприятие выпускающее жевательную карамель с фруктовыми вкусами и молочную карамель.
  <br><br>
    Качество выпускаемой продукции обеспечивается за счет использования натурального экологически чистого сырья и высококачественных натуральных добавок. Особое внимание на фабрике уделяется качеству входящего сырья, каждая партия которого проходит тщательный анализ, в том числе на отсутствие генетически модифицированных ингредиентов и безопасность для здоровья потребителей.
  <br><br>
    В своей работе мы стараемся использовать новые технологии, которые позволяют производить именно те изделия которые ждут наши потребители.
  <br><br>
    В целях еще большего соответствия требованиям клиентов и потребителей, в том числе и на международных рынках, руководство кондитерской фабрики «Burkut» принимает на себя обязательства постоянного улучшения своей деятельности в области обеспечения качества и безопасности пищевой продукции, что выражается в решениях:
  <br><br>
    Безусловно соблюдать законодательные нормы Туркменистана а также международные нормативные требования к обеспечению качества и безопасности выпускаемой продукции для здоровья потребителей в соответствии с требованиями международных стандартов ISO 9001:2015, ISO 22000:2005.
  <br><br>
    Обеспечить результативность функционирования системы менеджмента качества и безопасности пищевой продукции позволяющей сохранять ее целостность и актуальность.
  <br><br>
    Гарантировать что все ингредиенты продуктов, материалы, чистящие химикаты используемые в производстве продукции являются качественными и безопасными для потребителя.
  <br><br>
    Обеспечить чтобы все сотрудники фабрики проходили обучение по осведомленности требований системы менеджмента качества и безопасности пищевой продукции принятых на производстве.
  <br><br>
    Обеспечить полное сотрудничество и обмен информацией по вопросам качества и безопасности с партнерами, поставщиками, подрядчиками и другими заинтересованными сторонами для того, чтобы наши требования в области качества и пищевой безопасности стали также их стандартами.
  <br><br>
    Внедрить современные методы оценки и контроля показателей безопасности и качества производимой продукции.
  </p><br><br>
    <strong style="font-size: 15px; line-height: 1.5">
Руководство предприятия берет на себя ответственность за реализацию Политики в области обеспечения качества и безопасности выпускаемой продукции, распространению ее на всех уровнях управления предприятием. А также создания условий для активного участия в ее реализации всего коллектива кондитерской фабрики «Буркут».
    </strong>
 
</p>
</div>
</div>
</div>
</div>
<div class="container-fluid">
<div class="shadow-lg p-3 mb-5 bg-white rounded">
        <div class="w-100 p-3" style="background-color: #eee;">
       

    <h1 style="font-family: 'Diplomata', serif;">НАША ПРОДУКЦИЯ</h1>

    <center >
    <nav class="slidernav">
      <div id="navbtns" class="clearfix">
        <a href="#" class="previous"><<</a>
        <a href="#" class="next">>></a>
      </div>
    </nav>
    
    <div class="crsl-items" data-navigation="navbtns">
      <div class="crsl-wrap">
        <div class="crsl-item">
          <div class="thumbnail">
            <img src="image/product1.jpg" alt="nyc subway">
            
          </div>
          
          <h3 align="center"><a href="#">ЖЕВАТЕЛЬНЫЕ КОНФЕТЫ СО ВКУСОМ ДЫНИ</a></h3>
          
          <p style="line-height: 3;">Вес коробки нетто: 6 кг

Коробок на паллете: 120 шт.

Срок годности: 9 мес.

Условия хранения 18 ± 30C

Фасовка гр.:150,250,300,400,500,1000</p>
          
      
        </div><!-- post #1 -->
        
        <div class="crsl-item">
          <div class="thumbnail">
            <img  src="image/product2.jpg" alt="danny antonucci">
            
          </div>
          
          <h3 align="center"><a href="#">ЖЕВАТЕЛЬНЫЕ КОНФЕТЫ СО ВКУСОМ КЛУБНИКИ</a></h3>
          
          <p style="line-height: 3;">Вес коробки нетто: 6 кг

Коробок на паллете: 120 шт.

Срок годности: 9 мес.

Условия хранения 18 ± 30C

Фасовка гр.:150,250,300,400,500,1000</p>
          
         
        </div><!-- post #2 -->
        
        <div class="crsl-item">
          <div class="thumbnail">
            <img src="image/product3.jpg" alt="watercolor paints">
           
          </div>
          
          <h3 align="center"><a href="#">ЖЕВАТЕЛЬНЫЕ КОНФЕТЫ СО ВКУСОМ МАЛИНЫ</a></h3>
          
          <p style="line-height: 3;">Вес коробки нетто: 6 кг

Коробок на паллете: 120 шт.

Срок годности: 9 мес.

Условия хранения 18 ± 30C

Фасовка гр.:150,250,300,400,500,1000</p>
          
        </div><!-- post #3 -->
       <div class="crsl-item">
          <div class="thumbnail">
            <img  src="image/Kakao Lalefam.jpg" alt="danny antonucci">
            
          </div>
          
          <h3 align="center"><a href="#">ЖЕВАТЕЛЬНЫЕ КОНФЕТЫ СО ВКУСОМ ФУНДУКА</a></h3>
          
          <p style="line-height: 3;">Вес коробки нетто: 6 кг

Коробок на паллете: 120 шт.

Срок годности: 9 мес.

Условия хранения 18 ± 30C

Фасовка гр.:150,250,300,400,500,1000</p>
          
         
        </div><!-- post #2 --> 
        <div class="crsl-item">
          <div class="thumbnail">
            <img src="image/Ananas Durdane.jpg" alt="watercolor paints">
           
          </div>
          
          <h3 align="center"><a href="#">ЖЕВАТЕЛЬНЫЕ КОНФЕТЫ СО ВКУСОМ МАЛИНЫ</a></h3>
          
          <p style="line-height: 3;">Вес коробки нетто: 6 кг

Коробок на паллете: 120 шт.

Срок годности: 9 мес.

Условия хранения 18 ± 30C

Фасовка гр.:150,250,300,400,500,1000</p>
          
        </div><!-- post #3 -->
        
          
          
      </div><!-- @end .crsl-wrap -->
    </div><!-- @end .crsl-items -->
    
  </div><!-- @end #w -->
  </div>
</div>

</center>
<script type="text/javascript">
$(function(){
  $('.crsl-items').carousel({
    visible: 5,
    itemMinWidth: 300,
    itemEqualHeight: 500,
    itemMargin: 5,
  });
  
  $("a[href=#]").on('click', function(e) {
    e.preventDefault();
  });
});
</script>





</body>
</html>