<!DOCTYPE html>
<html>
	<head>

		<link rel="shortcut icon" href="/image/logo_0.png"/>

		<title>Кондитерская фабрика "BURKUT"</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Bootstrap -->
		<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		
		
		<link href="http://fonts.googleapis.com/css?family=Diplomata" rel="stylesheet" type="text/css">
		

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
 	<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>


 	<link rel="stylesheet" type="text/css" media="all" href="css/styles.css">
  <script type="text/javascript" src="js/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="js/responsiveCarousel.min.js"></script>



































	</head>
	

	
	<body>
	<style>
  h3 {
    font-family: 'Diplomata', serif;
}
</style>
  <style>
 
 

   span:hover {
   	color: yellow;
   	text-decoration: underline;
   	
  </style>



 
	<div class="container-fluid">
		<div class="container-luid fixed-top">
			<nav class="navbar navbar-expand-lg navbar-light bd-nav" style="background: #AC172B; z-index: 999; top: 20px; height: 80px"> 
	  				<a class="navbar-brand" style="color: white;" href="/"><em><b><img src="image/logo_1.png" style="height: 100px;"></b></em><a>
	  					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    			<span class="navbar-toggler-icon"></span>
	  					</button>
	 				<div class="collapse navbar-collapse" id="navbarText">
	 			<ul class="navbar-nav ml-auto" style="margin-bottom: 0px;">
	 				<h3 style="font-size: 40px; color: white;">BURKUT</h3>
	 			</ul>		
	    		<ul class="navbar-nav ml-auto" style="height: 100px;">
	      			<li class="nav-item">
	        		<a class="nav-link" style="color: white; margin-top: 70px; font-size: 22px" href="/something"><b><span class="badge" style="background:#AC172B;">О НАС</span></b></a>
	      			</li>
	      			<li class="nav-item">
	        			<a class="nav-link" style="color: white; margin-top: 70px; font-size: 22px" href="/products"><b><span class="badge" style="background:#AC172B;">ПРОДУКЦИЯ</span></b></a>
	      			</li>
	      			<li class="nav-item">
	        			<a class="nav-link" style="color: white; margin-top: 70px; font-size: 22px" href="/partners"><b><span class="badge" style="background:#AC172B;">ПАРТНЁРАМ</span></b></a>
	      			</li>
	      			</li>
	      			<li class="nav-item">
	        			<a class="nav-link" style="color: white; margin-top: 70px; font-size: 22px" href="/vacancies"><b><b><span class="badge" style="background:#AC172B;">ВАКАНСИИ</span></b></a>
	      			</li>
	      			<li class="nav-item">
	        			<a class="nav-link" style="color: white; margin-top: 70px; font-size: 22px" href="/contacts"><b><span class="badge" style="background:#AC172B;">КОНТАКТЫ</span></b></a>
	      			</li>	
	    		</ul>
		        </nav>
		</div>
		<div>
	      	<%if @error && @error.length > 0 then %>
	          	<div class="alert alert-danger"><%=@error%></div>
	      	<% end %>
	      	<%= yield %>
		</div>
	</div>	 			
	


			








				



		
	


		
   
  </body>
</html>
