<br/><br/><br/><br/><br/><br/>


<div class="container-fluid">  
<div class="shadow-lg p-3 mb-5 bg-white rounded">
        <div class="w-100 p-3" style="background-color: #eee;">  
<div id="w">
    <h1 style="font-family: 'Diplomata', serif;"><center><b>НАША ПРОДУКЦИЯ</b></center></h1>
    
    <center>
    <nav class="slidernav">
      <div id="navbtns" class="clearfix">
        <a href="#" class="previous"><<</a>
        <a href="#" class="next">>></a>
      </div>
    </nav>
    
    <div class="crsl-items" data-navigation="navbtns">
      <div class="crsl-wrap">
        <div class="crsl-item">
          <div class="thumbnail">
            <img src="image/product1.jpg" alt="nyc subway">
            
          </div>
          
          <h3 align="center"><a href="#">ЖЕВАТЕЛЬНЫЕ КОНФЕТЫ СО ВКУСОМ ДЫНИ</a></h3>
          
          <p style="line-height: 3;">Вес коробки нетто: 6 кг

Коробок на паллете: 120 шт.

Срок годности: 9 мес.

Условия хранения 18 ± 30C

Фасовка гр.:150,250,300,400,500,1000</p>
          
          <p class="readmore"><a href="#">Подробнее &raquo;</a></p>
        </div><!-- post #1 -->
        
        <div class="crsl-item">
          <div class="thumbnail">
            <img src="image/product2.jpg" alt="danny antonucci">
            
          </div>
          
          <h3 align="center"><a href="#">ЖЕВАТЕЛЬНЫЕ КОНФЕТЫ СО ВКУСОМ КЛУБНИКИ</a></h3>
          
          <p style="line-height: 3;">Вес коробки нетто: 6 кг

Коробок на паллете: 120 шт.

Срок годности: 9 мес.

Условия хранения 18 ± 30C

Фасовка гр.:150,250,300,400,500,1000</p>
          
          <p class="readmore"><a href="#">Подробнее &raquo;</a></p>
        </div><!-- post #2 -->
        
        <div class="crsl-item">
          <div class="thumbnail">
            <img src="image/product3.jpg" alt="watercolor paints">
           
          </div>
          
          <h3 align="center"><a href="#">ЖЕВАТЕЛЬНЫЕ КОНФЕТЫ СО ВКУСОМ МАЛИНЫ</a></h3>
          
          <p style="line-height: 3;">Вес коробки нетто: 6 кг

Коробок на паллете: 120 шт.

Срок годности: 9 мес.

Условия хранения 18 ± 30C

Фасовка гр.:150,250,300,400,500,1000</p>
          
          <p class="readmore"><a href="#">Подробнее &raquo;</a></p>
        </div><!-- post #3 -->
        
        
          
          
      </div><!-- @end .crsl-wrap -->
    </div><!-- @end .crsl-items -->
    
  </div><!-- @end #w -->
  </div>
</div>
</center>
</div>
<script type="text/javascript">
$(function(){
  $('.crsl-items').carousel({
    visible: 4,
    itemMinWidth: 205,
    itemEqualHeight: 500,
    itemMargin: 0,
  });
  
  $("a[href=#]").on('click', function(e) {
    e.preventDefault();
  });
});
</script>