.centrer {
  text-align: left;
}
.bg-burkut {
  background-color: #AC172B !important;
}

a.bg-burkut:hover, a.bg-burkut:focus,
button.bg-light:hover,
button.bg-light:focus {
  background-color: #AC172B !important;
}